<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoronaVirus tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
    <div class="container">
        <h1>CoronaVirus tracker</h1>
        <div class="jumbotron">
            <h1 class="display-4">Total Cases as per Today in the world : </h1>
            <h1 class="display-4" th:text="${TotalCases}"></h1>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Current Cases</th>
                <th>Change from previous day</th>
            </tr>
            </thead>
            <tr th:each="state : ${AllStates}">
                <td th:text="${state.state}"></td>
                <td th:text="${state.country}"></td>
                <td th:text="${state.totalCurrentEffected}">0</td>
                <td th:text="${state.differentFromPreviousDay}">0</td>
            </tr>
        </table>
    </div>
</body>
</html>